[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyter = "*"
numpy = "*"
sklearn = "*"
matplotlib = "*"
pandas = "*"
tensorflow = "*"
datasets = "*"
nltk = "==3.0.5"
keras = "*"
livelossplot = "*"
pydot = "*"
pydotplus = "*"
graphviz = "*"

[dev-packages]

[requires]
python_version = "3.8"
